/alejandro/kata_bolos_2/__pycache__/
/alejandro/kata_bolos_2/.pytest_cache/
/alejandro/kata_bolos_fallida/__pycache__/
/alejandro/kata_bolos_fallida/.pytest_cache/
/alejandro/kata_tenis/__pycache__/
/alejandro/kata_tenis/.pytest_cache/
/alejandro/kata_numeros_romanos/__pycache__/
/alejandro/kata_numeros_romanos/.pytest_cache/